.green {
  color: green;
}
.page-title {
  margin-left: 2%;
  margin-bottom: 0;
  line-height: normal;
}

.terminal-container {
  width: 100%;
  margin-top: 2%;
}

.terminal-window {
  border: solid green 2px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  background-color: black;
  color: white;
}

/*http://stackoverflow.com/questions/6401869/stacking-divs-from-bottom-to-top*/
.terminal-output-wrapper {
  margin-top: 1%;
  display: table-cell;
  vertical-align: bottom;
  height: 500px;
  width: 1000px;
}

.terminal-output-content {
  max-height: 500px;
  overflow: auto;
}

.terminal-input {
  height: 25px;
}

.terminal-input-box {
  padding-right: 0.2%;
}
