.row {
  max-width: 95%;
}
.green {
  color: green;
}

.terminal-container {
  width: 100%;
  border: solid black 2px;
  margin-top: 2%;
}

.terminal-window {
  background-color: black;
  color: white;
}

.terminal-output {
  margin-top: 1%;
  height: 300px;
  list-style-type: none;
}

.terminal-output li {
  position:absolute;
  bottom:0;
  left:0;
}

.terminal-input {
  height: 25px;
}

.terminal-input-box {
  padding-right: 0.5%;
}
